.navbar{
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    padding: 20px;
    transition: all 0.5s ease-in;
}
.navbar::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    height: 100%;
    width: 100%;
    z-index: -1;
}
.navbar_Logo{
    width: 120px;
    object-fit: contain;
}
.navbar_avatar{
    width: 40px;
    object-fit: contain;
    position: fixed;
    right: 50px;
}